<lib-tracken-modal
	*transloco="let t"
	[title]="t('common.add')"
	(close)="closeModal.emit()"
>
	<form
		[formGroup]="transactionForm"
		(submit)="onSubmit(); $event.preventDefault()"
	>
		<div class="type-toggle-container">
			<lib-tracken-segmented-control
				formControlName="type"
				[options]="[
					{ label: t('form.expense'), value: 'expense' },
					{ label: t('form.income'), value: 'income' },
				]"
			></lib-tracken-segmented-control>
		</div>

		<lib-tracken-input
			formControlName="description"
			[label]="t('form.description')"
			placeholder="e.g. Netflix Subscription"
		></lib-tracken-input>

		<div class="form-row">
			<lib-tracken-money-input
				formControlName="amount"
				[label]="t('form.amount')"
			></lib-tracken-money-input>

			<lib-tracken-input
				formControlName="date"
				type="date"
				[label]="t('form.date')"
			></lib-tracken-input>
		</div>

		<lib-tracken-select
			formControlName="categoryId"
			[label]="t('form.category')"
			[placeholder]="t('form.selectCat')"
			[options]="categoryOptions()"
		></lib-tracken-select>

		<div footer>
			<lib-tracken-button
				type="button"
				variant="outline"
				(btnClick)="closeModal.emit()"
			>
				{{ t('common.cancel') }}
			</lib-tracken-button>

			<lib-tracken-button
				type="submit"
				variant="primary"
				[disabled]="transactionForm.invalid"
			>
				{{ t('common.save') }}
			</lib-tracken-button>
		</div>
	</form>
</lib-tracken-modal>
